
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 980px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
  

img{
    width:100%
}
        
.card{
  min-height: 300px;
/*  border: 1px solid lightgrey;*/
  margin-bottom: 10px;
}
.card_image{
  height:200px;
  width:auto;
  display: block;
}
.card_name{
  margin-top: 20px;
  text-align: center;
  color: dimgrey;
  border: 1px solid lightgrey;
}
.card_name:hover{
  color:white;
  background-color: black;
}
